@model  List<TGS.SGV.Modelo.Dto.ModuloSistemaDto>
<header id="header">
    <div class="container">
        <nav id="nav-menu-container">
            <ul class="nav-menu">

                @foreach (var menu in Model.Where(x => x.CodigoPadre.Equals(TGS.SGV.Web.Utilitarios.ConstantesUI.ModuloPadre)).OrderBy(x=>x.Orden))
                {

                    var submenusLista = Model.Where(p => p.CodigoPadre.Equals(menu.CodigoModulo)).ToList();

                    if (submenusLista.Count > 0)
                    {
                        <li class="menu-has-children">
                            <a href="#">@menu.Descripcion &nbsp;</a>
                            <ul>
                                @foreach (var submenu in submenusLista)
                                {
                                    if (submenu != null)
                                    {
                                        <li><a href="@Url.Content("~/" + submenu.RutaPagina)">@submenu.Descripcion</a></li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                }

                @{ var user = (TGS.SGV.Web.Models.CustomPrincipal)HttpContext.Current.User; }

                <li><a href="@Url.Action("CerrarSesion", "Login", new { area = "Seguridad" })"><i class="fa fa-edit"></i> Salir</a></li>

                @if (user.CantidadPerfil > 1)
                {
                    <li><a href="@Url.Action("PerfilUsuario", "Login", new { area = "Seguridad" })"><i class="fa fa-edit"></i> Cambiar Perfil</a></li>
                }

            </ul>
        </nav>
        <nav class="nav social-nav pull-right hidden-sm-down">
            <div class="usuario">
                <i class="glyphicon glyphicon-user"></i>&nbsp;
                @user.FirstName
            </div>
            <div class="usuario">
                @user.Roles
            </div>
        </nav>
    </div>
</header>